ul,
ol {
	padding: 0;
	list-style: none;

	&:not(.main-nav):not(.social-nav):not(.skills-list):not(.case-study-mini-gallery-list) {
		li {
			@include font-size(20px);
			@include padding-left(20px);
			position: relative;

			&::before {
				content: '\2022';
				font-size: 22px;
				position: absolute;
				left: 0;
				top: -1px;
			}
		}
	}
}