@font-face {
	font-family: 'DM Serif Display Italic';
	src: url('../fonts/dmserifdisplay-italic-webfont.woff2') format('woff2'),
			 url('../fonts/dmserifdisplay-italic-webfont.woff') format('woff');
	font-weight: 400;
	font-style: italic;

}

@font-face {
	font-family: 'DM Serif Display';
	src: url('../fonts/dmserifdisplay-regular-webfont.woff2') format('woff2'),
			 url('../fonts/dmserifdisplay-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;

}

@font-face {
	font-family: 'Open Sans Italic';
	src: url('../fonts/opensans-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
			 url('../fonts/opensans-italic-variablefont_wdthwght-webfont.woff') format('woff');
	font-stretch: 100%;
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans Italic';
	src: url('../fonts/opensans-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
			 url('../fonts/opensans-italic-variablefont_wdthwght-webfont.woff') format('woff');
	font-stretch: 100%;
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans Italic';
	src: url('../fonts/opensans-italic-variablefont_wdthwght-webfont.woff2') format('woff2'),
			 url('../fonts/opensans-italic-variablefont_wdthwght-webfont.woff') format('woff');
	font-stretch: 100%;
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
			 url('../fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
	font-stretch: 100%;
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
			 url('../fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
	font-stretch: 100%;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
			 url('../fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
	font-stretch: 100%;
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}