.has-browser-chrome {
	position: relative;
	@include padding-top(25px);

	&::before,
	&::after {
		content: '';
		position: absolute;
	}

	&::before {
		width: 100%;
		height: 25px;
		background-color: #E8E8E8;
		top: 0;
		left: 0;
		z-index: 100;
	}

	&::after {
		background-color: #FF5F56;
		width: 11px;
		height: 11px;
		top: 8px;
		left: 10px;
		z-index: 100;
		border-radius: 100%;
		box-shadow:
			16px 0 0 rgb(255, 189, 46, 1),
			32px 0 0 rgb(40, 201, 63, 1);
	}

	img {
		position: relative;
		z-index: 50;
	}
}