.final-image {
	.project-goals-featured-image {
		.featured-image-wrapper {
			box-shadow: 0.1px 0.2px 1.1px rgb(46 52 68 / 4%), 1.1px 1.2px 3.6px rgb(46 52 68 / 8%), 1.8px 4px 16px rgb(46 52 68 / 22%);
			border-radius: 6px;
			overflow: hidden;
		}
	}
}