.project-mini-gallery {
	.case-study-mini-gallery-list {
		li {
			position: relative;
			overflow: hidden;
			@include border-radius(6px);
			box-shadow:
				0.1px 0.2px 1.1px rgba(46, 52, 68, 0.036),
				1.1px 1.2px 3.6px rgba(46, 52, 68, 0.084),
				1.8px 4px 16px rgba(46, 52, 68, 0.22);
			transition: box-shadow 0.25s, transform 0.25s;

			&:not(:last-child) {
				@include margin-bottom(44px);
			}

			&[data-image] {
				cursor: pointer;
			}

			&:hover {
				transform: translate3d(0, -6px, 0);
				box-shadow:
					0.3px 0.8px 2px rgba(0, 0, 0, 0.065),
					0.9px 2.7px 6.7px rgba(0, 0, 0, 0.095),
					4px 12px 30px rgba(0, 0, 0, 0.28);
			}
		}

		&.evens {
			@include padding-right(18px);
		}

		&.odds {
			@include padding-left(18px);
		}

		@include media-breakpoint-down(lg) {
			&.evens {
				padding-right: 0;

				li {
					@include margin-bottom(44px);
				}
			}

			&.odds {
				padding-left: 0;
			}
		}
	}
}