.case-study-content-section {
	&.has-blue-bg {
		@include padding-top(90px);
		@include padding-bottom(110px);
		background: linear-gradient(281.84deg, $bg-color-1 0%, $bg-color-2 100%);
	}

	article:not(.project-goals-text) {
		h2 {
			font-family: $font-family-sans-serif;
			@include font-size(32px);
			font-weight: $font-weight-bold;
		}
	}

	.project-goals-text {
		p {
			@include font-size(32px);
		}
	}
}